* {
  margin: 0;
  padding: 0;
  color: black;
}
h1 {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: black;
  color: whitesmoke;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  height: 90vh;
}
.game div {
  width: 100%;
  text-align: center;
  height: 33%;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
button {
  width: 15%;
  height: 70%;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  box-shadow: 10px 10px 20px;
}
.restart {
  width: 5%;
  min-width: fit-content;
  background-color: red;
}
input {
  height: 30px;
  width: 25%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 20px;
  text-align: center;
}
.guesses,
.rem {
  border: 2px solid black;
  display: inline;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin-top: 10px;
  margin-left: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: scale(0.96);
}
.remGuess {
  margin-top: 15px;
}
