body{
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.container
{
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    width: 250px;
    max-height: 850px;
    border-radius: 7px;
    margin: 4px;
    padding: 4px;
    height: max-content;

}
.image img{
    margin: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.name{
    font-size: 20px;
    transform: translateY(-20px);
}
.address{
    transform: translateY(-15px);
    color: #c3e35c;
    font-size: 14px;
    /* padding: 5px; */
}
.bio{
    margin: 5px;
    font-size: 13px;
    color: #e9e9e9;
}
.links a{
    /* justify-content: center; */
    font-size: 13px;
    width: 205px;
    justify-content: space-between;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    background-color: #333333;
    /* border: 1px solid white; */
    flex-direction: column;
    /* justify-items: center; */
    display: flex;
    align-items: center;
}
.links a:visited,
a:link,
a:active,
a:hover {
  text-decoration: none;
  color: #efefef;
}

